.ui-layout-unit, .ui-layout-unit-content {
    border: none !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow: hidden !important;
}

.ui-layout-west .ui-layout-unit-content {
    overflow: hidden !important;
}

.ui-layout-south .ui-layout-unit-content {
    overflow: hidden !important;
}

.ui-layout-unit-header{
    padding: 0 !important;    
}

.ui-widget-header{
    border: none !important;
}

input[placeholder = "Search Projects"], input[placeholder = "Search Organisations"], input[placeholder = "Search Archive"] {
  margin-right: 10px;
}

.footer{
    font-size: 0.8em !important;
}